!!! 5
html(lang='#{lang}')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{title}
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/main.css')
    link(rel='shortcut icon', href='./images/favicon.png')
  body
    .container
      .row
        .col-sm-12.col-md-8.col-md-offset-2
          .header
            ul.nav.nav-pills.pull-right
              li
                a(href='#') #{about}
              li
                a(href='#') #{contact}
            h1.text-muted #{project_name}
      .row#err
        .col-sm-12.col-md-8.col-md-offset-2
          .alert.alert-warning 
            button#errRedirect.close(type='button', aria-hidden='true')&times;
            .err-code.pull-left #{err_code}
            .err-msg #{err_msg}
          p.text-right
            span.selected #{press_esc}
      if debug
        .alert.alert-warning #{debug}
    script(src='./js/jquery.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/error.js')